.footer {
  background: var(--color-primary);
  color: white;
  padding: 20px;
  width: 100%;
  flex-shrink: 0; /* Ngăn footer co lại */
  margin-top: auto; /* Đẩy footer xuống cuối */
  position: relative; /* Thêm position relative */
  z-index: 10; /* Đảm bảo footer luôn nằm trên cùng */
  height: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 15px;
  }
}
